.board {
  background-color: transparent;
  border-radius: .375rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 30rem;
  overflow: hidden;
  position: relative;
  width: 30rem;
}

.cell {
  align-items: center;
  background-color: #000000;
  border: 1px solid transparent;
  color: #000000;
  display: grid;
  height: 100%;
  justify-content: center;
  transition: all .25s ease;
  width: 100%;
}

.cell:nth-child(-n + 6) {
  border-bottom: 1px solid #007dff;
}

.cell:nth-child(2),
.cell:nth-child(5),
.cell:nth-child(8) {
  border-left: 1px solid #007dff;
  border-right: 1px solid #007dff;
}

.cell:hover {
  background-color: #0062ff2e;
  cursor: pointer;
}

.board.off .cell:hover {
  background-color: transparent;
  cursor: default;
}
