.board {
  background-color: #d3d3d3;
  border-radius: .375rem;
  display: grid;
  gap: 1px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 30rem;
  overflow: hidden;
  position: relative;
  width: 30rem;
}

.cell {
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  display: grid;
  height: 100%;
  justify-content: center;
  transition: all .25s ease;
  width: 100%;
}

.cell:hover {
  background-color: #e4efff;
  cursor: pointer;
}

.board.off .cell:hover {
  background-color: #ffffff;
  cursor: default;
}
