.x {
  align-items: center;
  display: grid;
  position: relative;
}

.bar {
  background-color: #ffffff;
  border-radius: 2px;
  height: 3rem;
  left: 50%;
  width: 0.5rem;
}

.x .bar:first-child {
  position: absolute;
  transform: rotate(45deg);
}

.x .bar:last-child {
  position: absolute;
  transform: rotate(-45deg);
}

.o {
  border: 0.5rem solid #ffffff;
  border-radius: 50%;
  height: 3.25rem;
  width: 3.25rem;
}
