.cursor {
  aspect-ratio: 1;
  background-color: #0081ff1a;
  border: 1px solid #ffffff1c;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #006cff24;
  display: block;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(157%, -251%);
  width: 2.25rem;
  z-index: 2;
}
